# Repo-wide
# -----------------------------------------------------------------------------

# Dirs
node_modules/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Runtime files
*.lock
*.log
*.pid
*.pid.lock

# Repo root
# -----------------------------------------------------------------------------

# Technical output
/build/
/coverage/
/dist/
/logs/
/pids/
/tmp/

# Local data
/local/
